.footerStyle {
    color: var(--oddText);
}
.footerStyle a {
    color: var(--oddText);
    border-bottom: 1px solid var(--primary);
    border-radius: 10px;
    padding: 5px;
}
.footerStyle a:hover {
    color: var(--lightText);
    border-bottom: 1px solid var(--lightText);
}
