.menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

@media (max-width: 568px) {
    .menu {
        display: none;
    }

    .mobileMenu a {
        font-size: 24px;
    }
}

@media (min-width: 568px) {
    .mobileMenu {
        display: none !important;
    }
}

.mobileMenu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.rowStyle {
    height: 95px;
}

.logoStyle {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.menu a {
    border-bottom: 1px solid var(--primary);
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, .5);
    cursor: pointer;
    border-radius: 5px;
    margin: 10px 10px 10px 20px;
    transition: color .2s ease-out;
    text-transform: uppercase;
    padding: 10px;
    position: relative;
}
.menu a.selected {
    border-bottom: 1px solid var(--lightText);
}

.menu a svg {
    margin-right: 5px;
}

.menu a:hover {
    color: var(--lightText);
    border-bottom: 1px solid var(--lightText);
}
