.menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.spaceHeader {
    margin-bottom: 3rem;
}

@media (max-width: 568px) {
    .menu {
        display: none;
    }

    .mobileMenu a {
        font-size: 24px;
    }

    .spaceHeader {
        margin-bottom: 1rem;
    }
}

@media (min-width: 568px) {
    .mobileMenu {
        display: none !important;
    }
}

.mobileMenu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.rowStyle {
    height: 95px;
}

.logoStyle {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.menu a {
    border-bottom: 1px solid var(--primary);
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, .5);
    cursor: pointer;
    border-radius: 5px;
    margin: 10px 10px 10px 20px;
    transition: color .2s ease-out;
    text-transform: uppercase;
    padding: 10px;
    position: relative;
}
.menu a.selected {
    border-bottom: 1px solid var(--lightText);
}

.menu a svg {
    margin-right: 5px;
}

.menu a:hover, .selected {
    color: var(--lightText) !important;
    border-bottom: 1px solid var(--lightText);
}

.menuNav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    background: var(--primary);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 30px;
    transition: all .3s ease .15s
}

.menuNav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.menuNav li {
    margin-bottom: 20px;
    font-size: 20px;
}
.menuNav a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.menuNav a > svg {
    margin-right: 20px;
}

.closeMobileMenu {
    position: absolute;
    font-size: 24px;
    top: 32px;
    right: -5px;
}
