.grid {
  display: flex;
  margin: 10px 0;
  align-items: flex-start;
  justify-content: space-between;
}

.grid > div {
  flex: 1;
  display: flex;
  padding: 10px 20px;
  align-items: center;
  justify-content: center;
  background: var(--primary500);
  height: 180px;
  margin: 10px;
}
.grid > div:first-child {
  margin-left: 0;
}
.grid > div:last-child {
  margin-right: 0;
}

.grid > div:hover {
  background: var(--primary400);
}
