.tb-header {
  @apply relative h-[880px] w-screen;

  .header-content {
    @apply relative z-50 py-space-md container mx-auto grid grid-cols-3;

    .logo {
      @apply fill-white text-white;
    }

    .menu {
      @apply flex flex-row items-center justify-center space-x-8;

      a {
        @apply leading-relaxed cursor-pointer hover:font-semibold duration-500;
      }
    }

    .actions {
      @apply flex items-center justify-end;
    }
  }

  .element-3 {
    @apply absolute z-0 top-[300px] left-[50vw];
  }

  .element-2 {
    @apply absolute z-10 rounded shadow-xl bg-white top-[150px] w-[460px] h-[660px] bg-cover;

    background: url("https://tiarebalbi.com/_next/image?url=%2Fimages%2Fprofile-1.jpg&w=828&q=75") no-repeat top center;
    background-size: cover;
    left: calc(30vw * 0.5);
  }

  .element-1 {
    @apply absolute z-0 bg-primary top-0 left-0 w-[30vw] h-[880px] [clip-path:polygon(0_0,_100%_0,_100%_100%,_0_95%)];
  }
}
